@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
   
}
body
{
    background:url("./images/bg4.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ededed;
    padding-top: 70px;
}
   header h1
    {
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 10px;
    } 
    section h2 
    {
        font-weight: bold;
        margin-top: 30px;
    }
    .home
{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10px 15%;
    background-color:rgba(193, 237, 105, 0.4)
}
.home-content
{
    background: transparent;
    max-width:600px;
    margin: 20px;
    padding: 20px 0 5px;
    display:block;
    justify-content:space-between;
    }
    .home-content h1{
        font-size: 40px;
        font-weight: 900;
        line-height: 1.2;

    }
    .home-content h3{
        font-size: 25px;
        font-weight: 700;
        color: #00abf0;
    }
    .home-content p{
        font-size: 20px;
        background: rgba(154, 205, 50,0.4) ;
        padding: 20px;
      
        margin: 20px 0 40px;
    }
    .home-content .btn-box{
        display: flex;
        justify-content: space-between;
        width: 345px;
        height: 50px;
      
        
    }
    .btn-box a{
        position: relative;
        display: inline-flex;
        justify-content:center ;
        align-items: center;
        text-decoration: none;
        width: 150px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 8px;
        font-size: 19px;
        color: #081b29;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
    }
    .btn-box a:hover{
        color: #00abf0;
    }
    .btn-box a:nth-child(2){
        background: transparent;
        color: #00abf0;

    }
    .btn-box a:nth-child(2):hover{
        color: #081b29;
    }
    .btn-box a:nth-child(2)::before{
        background: #00abf0;
    }
    .btn-box a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #081b29;
        z-index: -1;
        transition: .5s;
    }
    .btn-box a:hover::before{
        width: 100%;

    }
    .card {
        margin-bottom: 20px;
    }
    
    .contact-info p {
        margin: 0;
        padding: 5px 0;
    }
    
    .contact-info a {
        color: #007bff;
        text-decoration: none;
    }
    
    .contact-info a:hover {
        text-decoration: underline;
    }
    
    footer {
        background-color: #f8f9fa;
    }
    
    footer p {
        margin: 0;
    }
    